[
    {
        "scope": "https://api.github.com:443",
        "method": "GET",
        "path": "/orgs/github",
        "body": "",
        "status": 200,
        "response": {
            "login": "github",
            "id": 9919,
            "node_id": "MDEyOk9yZ2FuaXphdGlvbjk5MTk=",
            "url": "https://api.github.com/orgs/github",
            "repos_url": "https://api.github.com/orgs/github/repos",
            "events_url": "https://api.github.com/orgs/github/events",
            "hooks_url": "https://api.github.com/orgs/github/hooks",
            "issues_url": "https://api.github.com/orgs/github/issues",
            "members_url": "https://api.github.com/orgs/github/members{/member}",
            "public_members_url": "https://api.github.com/orgs/github/public_members{/member}",
            "avatar_url": "https://avatars1.githubusercontent.com/u/9919?v=4",
            "description": "How people build software.",
            "name": "GitHub",
            "company": null,
            "blog": "https://github.com/about",
            "location": "San Francisco, CA",
            "email": "support@github.com",
            "is_verified": true,
            "has_organization_projects": true,
            "has_repository_projects": true,
            "public_repos": 282,
            "public_gists": 0,
            "followers": 0,
            "following": 0,
            "html_url": "https://github.com/github",
            "created_at": "2008-05-11T04:37:31Z",
            "updated_at": "2018-10-08T14:58:37Z",
            "type": "Organization"
        },
        "rawHeaders": [
            "Sun, 14 Oct 2018 05:58:47 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "999",
            "close",
            "GitHub.com",
            "Status",
            "200 OK",
            "X-RateLimit-Limit",
            "60",
            "X-RateLimit-Remaining",
            "46",
            "X-RateLimit-Reset",
            "1539499820",
            "public, max-age=60, s-maxage=60",
            "ETag",
            "\"1e75dd546e3323b28998a3df6c8c0514\"",
            "Last-Modified",
            "Mon, 08 Oct 2018 14:58:37 GMT",
            "X-GitHub-Media-Type",
            "github.v3",
            "ETag, Link, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval",
            "*",
            "max-age=31536000; includeSubdomains; preload",
            "deny",
            "nosniff",
            "1; mode=block",
            "origin-when-cross-origin, strict-origin-when-cross-origin",
            "default-src 'none'",
            "C9A8:61CD:1066491:1487C42:5BC2DB17"
        ]
    }
]