[
    {
        "scope": "https://api.github.com:443",
        "method": "GET",
        "path": "/users/teppeis",
        "body": "",
        "status": 200,
        "response": {
            "login": "teppeis",
            "id": 26476,
            "node_id": "MDQ6VXNlcjI2NDc2",
            "avatar_url": "https://avatars0.githubusercontent.com/u/26476?v=4",
            "gravatar_id": "",
            "url": "https://api.github.com/users/teppeis",
            "html_url": "https://github.com/teppeis",
            "followers_url": "https://api.github.com/users/teppeis/followers",
            "following_url": "https://api.github.com/users/teppeis/following{/other_user}",
            "gists_url": "https://api.github.com/users/teppeis/gists{/gist_id}",
            "starred_url": "https://api.github.com/users/teppeis/starred{/owner}{/repo}",
            "subscriptions_url": "https://api.github.com/users/teppeis/subscriptions",
            "organizations_url": "https://api.github.com/users/teppeis/orgs",
            "repos_url": "https://api.github.com/users/teppeis/repos",
            "events_url": "https://api.github.com/users/teppeis/events{/privacy}",
            "received_events_url": "https://api.github.com/users/teppeis/received_events",
            "type": "User",
            "site_admin": false,
            "name": "Teppei Sato",
            "company": "@cybozu / @kintone",
            "blog": "http://twitter.com/teppeis",
            "location": "Tokyo",
            "email": null,
            "hireable": null,
            "bio": "🍛 + 🍻 = 👍",
            "public_repos": 138,
            "public_gists": 51,
            "followers": 137,
            "following": 67,
            "created_at": "2008-09-27T04:11:47Z",
            "updated_at": "2018-09-14T06:06:51Z"
        },
        "rawHeaders": [
            "Sun, 14 Oct 2018 05:58:47 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "1189",
            "close",
            "GitHub.com",
            "Status",
            "200 OK",
            "X-RateLimit-Limit",
            "60",
            "X-RateLimit-Remaining",
            "47",
            "X-RateLimit-Reset",
            "1539499820",
            "public, max-age=60, s-maxage=60",
            "ETag",
            "\"29cd72c1a435ece52f871f57a4706cf5\"",
            "Last-Modified",
            "Fri, 14 Sep 2018 06:06:51 GMT",
            "X-GitHub-Media-Type",
            "github.v3",
            "ETag, Link, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval",
            "*",
            "max-age=31536000; includeSubdomains; preload",
            "deny",
            "nosniff",
            "1; mode=block",
            "origin-when-cross-origin, strict-origin-when-cross-origin",
            "default-src 'none'",
            "C9A7:61CA:74B118:911115:5BC2DB16"
        ]
    }
]